<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scrapper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
        <!-- Nav-bar -->
        <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark shadow">
            <a class="navbar-brand " href="#">Web Scrapper</a>
        </nav>

        <div class="mt-3 ml-3">
            <h4>Type your Search:</h4>
        </div>

        <!-- Input field and search button -->
        <form class="mt-3 ml-3" action="search" method="GET">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <input type="text" class="form-control mb-2" name="input" id="FormInput" placeholder="Type to search">
              </div>
             
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
              </div>
            </div>
        </form>

        
        <div class="mt-3 ml-3">
          {% if list_dict != None %}
          <h5>Search Results:</h5>
          {% endif %}
        </div>

        <!-- scrapped results -->
        <!-- cards -->
        <div class="row row-cols-1 row-cols-md-3">
          {% for dict in list_dict %}
          <div class="col mb-4">
            <a href="{{dict.link}}">
            <div class="card h-100 shadow mt-3 ml-3 mr-3 mb-2">
              <img src="{{dict.pic_link}}" class="card-img-top" alt="https://i.pinimg.com/564x/7e/cd/56/7ecd567d6743794e72675f55ac800608.jpg">
              <div class="card-body">
                <h5 class="card-title">{{dict.title}}</h5>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>

        {%block content%}

        {%endblock%}
        <br>
        <br>
        <br>
        <br>
        <nav class="navbar-dark sticky-bottom bg-dark shadow mt-3 ">
          <div class="text-white "style="font-size:0.8em;">
            <br>
            <h4 class="text-center" style="opacity: 0.6;">Web Scrapper</h4>
            <p class="text-center" style="opacity: 0.5;">This is a Sample Project created by student.</p>
            <p class="text-center" style="opacity: 0.5;">The creator of this project does not own any copyrights</p>
            <p class="text-center" style="opacity: 0.5;">to the contents displayed in this webpage.</p>
            <p class="text-center" style="opacity: 0.5;">The Languages and The Frameworks used are the following</p>
            <p class="text-center" style="opacity: 0.5;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/320px-Python_logo_and_wordmark.svg.png" class="img-fluid rounded float img-responsive">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/260px-Django_logo.svg.png" class="img-fluid rounded float img-responsive">
            </p>
            <br>
          </div>
        </nav>

        

    <!--This is the javascript scripts from bootstrap.It should be near to the end of the body tag -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>